node_modules
tmp
coverage
.nyc_output
docs/Gemfile.lock
package-lock.json
.DS_Store
test/types/*.js
test/types/*.map
test/integration/suite/sharding.test.js*
test/models/photo.js*
src/decorators.js*
src/data_types.js*
src/raw.js*

# Logs
logs
*.log
dist/