.nyc_output
coverage
docs/vendor
docs/.bundle
dist
logs
node_modules
tmp

*.log
docs/Gemfile.lock
package-lock.json
.DS_Store
test/types/*.js
test/types/*.map
test/integration/suite/sharding.test.js*
test/models/photo.js*
src/browser.js*
src/decorators.js*
src/data_types.js*
src/drivers/sqljs/*.js*
src/raw.js*
