---
---

// Override theme color set in primer theme
$text-blue: var(--theme-color);

@import 'jekyll-theme-primer';

:root {
  --container-width: 920px;
  --padding-base: 6px;
}

@mixin light-theme {
  --theme-color: #FF7F61;
  --color: #24292e;
  --bg-color: #fff;
  --border-color: #F4C1B5;
}

@mixin dark-theme {
  --theme-color: #FF7F61;
  --color: #bab4b4;
  --bg-color: #130B09;
  --border-color: #4b251d;
}

@mixin dark-theme-overrides {
  .markdown-body {
    div.highlight {
      background-color: rgba(255, 255, 255, 0.05);

      pre {
        background-color: inherit;
      }
    }

    h1, h2 {
      border-color: var(--border-color);
    }

    table {
      tr {
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.05);

        &:nth-child(2n) {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }

      th, td {
        border-color: rgba(255, 255, 255, 0.15);
      }
    }

    code, tt {
      background-color: rgba(255, 255, 255, 0.15);
    }

    pre code {
      background-color: transparent;
    }
  }

  .border-gray-light {
    border-color: var(--border-color) !important;
  }

  .color-scheme {
    background: none;
    color: var(--color);
  }
}

:root.light {
  @include light-theme;
}

:root.dark {
  @include dark-theme;
}

html.dark {
  @import 'base16-dark';
  @include dark-theme-overrides;
}

body {
  color: var(--color);
  background: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    @include dark-theme;
  }

  html:not(.light):not(.dark) {
    @import 'base16-dark';
    @include dark-theme-overrides;
  }
}

#header {
  background: rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid var(--border-color);

  .logo {
    display: inline-block;
    padding: 0.5em 0;
  }

  a:link, a:visited {
    color: var(--color);
  }

  a:hover, a:active {
    text-decoration: none;
  }

  nav {
    float: right;

    .nav-item {
      display: inline-block;
      position: relative;
      padding: 0.5em 0 0.5em 1.5em;

      & > a {
        display: block;
      }

      .lang {
        padding-left: 22px;
        background: left / 16px no-repeat url(../image/lang.svg) ;
      }
    }

    .search {
      position: relative;

      & [type="search"] {
        padding: 0 24px 0 4px;
        width: 100%;
        background: var(--bg-color);
        color: var(--color);
        border: 1px solid rgb(118, 118, 118);
        height: 1.6em;
        border-radius: 2px;

        &:focus-visible {
          border: none;
        }
      }

      & [type="submit"] {
        position: absolute;
        right: 0;
        width: 1.6em;
        height: 1.6em;
        line-height: 1.7;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
      }
    }

    .dropdown-trigger {
      &:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: -0.25em;
        right: -0.25em;
        z-index: 11;
        height: 2px;
        background: #f0f0f0;
        display: none;
      }

      &:hover,
      &:active,
      &:focus {
        &:after,
        .dropdown-list {
          display: block;
        }
      }
    }

    .dropdown-list {
      display: none;
      position: absolute;
      top: 100%;
      right: -0.5em;
      text-align: right;
      background: var(--bg-color);
      border: 1px solid var(--border-color);
      z-index: 10;
      padding: 0.25em 0;
      min-width: 140px;

      li {
        list-style: none;
        padding-left: 0.25em;
      }

      a {
        display: block;
        padding: 0.25em 0.5em;
      }
    }
  }
}

.markdown-body .syntax-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 90%;

  .highlight {
    margin: 0;
    background: transparent;
  }

  .highlight pre {
    padding: 4px 0;
    background: transparent;
  }

  code br {
    display: block;
  }
}

.markdown-body {
  blockquote {
    border-color: var(--border-color);
  }

  figure {
    img {
      background: transparent;
    }
  }

  .belongs-to-erd,
  .has-many-erd,
  .has-one-erd,
  .has-many-through-erd {
    img {
      background: rgba(255, 255, 255, 0.8);
    }
  }

  .text-gray {
    color: var(--text-color) !important;
    opacity: 0.75;
  }
}

@media(min-width: 1400px) {
  #header {
    position: fixed;
    right: calc(50% + (var(--container-width) / 2) + var(--padding-base));
    top: 26px;
    bottom: 24px;
    width: calc(50% - (var(--container-width) / 2) + var(--padding-base));
    background: none;
    border-bottom: none;
    overflow-y: auto;

    .container-lg {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    a.logo {
      background: url(/favicon.ico) no-repeat 0 8px;
      background-size: 40px;
      display: block;
      height: 56px;
      line-height: unset;
      padding-left: 48px;
      padding-top: 6px;
      margin-bottom: 12px;
      font-size: 2em;
      font-weight: bold;
      color: var(--theme-color);

      &:hover {
        background-color: transparent;
      }
    }

    a {
      height: 32px;
      line-height: 32px;
      background-color: transparent;
      opacity: 0.75;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: var(--border-color);
        opacity: 1;
      }
    }

    .color-scheme {
      margin: 6px 0;
    }

    nav {
      float: none;

      .nav-item {
        display: block;
        padding: 0;
      }

      .search {
        margin-bottom: 8px;
      }

      .dropdown-trigger:after {
        display: block;
        content: '';
        position: absolute;
        top: 12px;
        right: 0;
        bottom: initial;
        left: initial;
        background: none;
        border-width: 4px 7px;
        border-style: solid;
        border-color: transparent;
        border-left-color: var(--theme-color);
        border-radius: 2px;
      }

      .dropdown-list {
        display: none;
        text-align: left;
        background: none;
        padding: 0;
        position: static;
        border: none;
        min-width: initial;

        li {
          padding-left: 0;

          a {
            padding: 0 12px 0 24px;
          }

          a.active {
            background-color: rgba(255, 255, 255, 0.15);
            opacity: 1;
          }
        }
      }

      .dropdown-trigger:hover {
        .dropdown-list {
          display: none;
        }
      }

      .dropdown-trigger.active {
        &::after {
          transform-origin: 30% 50%;
          transform: rotate(90deg);
        }

        .dropdown-list {
          display: block;
        }
      }
    }
  }

  #markdown-toc {
    position: fixed;
    left: calc(50% + (var(--container-width) / 2) + var(--padding-base));
    top: 100px;
    bottom: 16px;
    overflow: auto;
    max-width: calc(50% - (var(--container-width) / 2));
    padding-right: var(--padding-base);

    a {
      color: var(--color);
    }
  }

  .no_toc {
    display: none;
  }

  .belongs-to-erd,
  .has-many-erd,
  .has-one-erd {
    float: right;
    width: 50%;
    margin: 0 1em;
  }

  .has-many-through-erd {
    text-align: center;

    img {
      width: 80%;
    }
  }

  .syntax-table .highlight {
    width: calc(var(--container-width) / 2 - 44px);
  }

  .container-lg {
    max-width: var(--container-width);
  }
}

@media(min-width: 1600px) {
  #header {
    width: auto;
    min-width: 230px;
  }
}
